@import url("https://fonts.googleapis.com/css2?family=MuseoModerno:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

@import "tailwindcss";

html, body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  overflow-x: hidden;
}
 







/* Navlink active route highlight */
.active {
  position: relative;
  color: #ffffc5; /* Tailwind's green-600 */
  font-weight: 600;
  transition: color 0.3s ease-in-out;
}

.active::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 100%;
  height: 2px;
  background: linear-gradient(to right, #ffff, #ffffc5); /* green shades */
  border-radius: 2px;
  box-shadow: 0 0 8px rgba(34, 197, 94, 0.6);
  animation: underlineGlow 1s ease-in-out forwards;
}

@keyframes underlineGlow {
  0% {
    width: 0%;
    opacity: 0;
  }
  100% {
    width: 100%;
    opacity: 1;
  }
}

/* Background and Text color section */
.primary-bg {
  background-color: #2e7d32;
}

.primary-text {
  color: #2e7d32;
}

/* font section */

.font-logo {
  font-family: "MuseoModerno", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.font-read {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
